.upper-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.header {
  background-color: #d33a2c;
  grid-column: 1/-1;
  display: flex;
}

.header div img {
  width: 39px;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

#logo-main {
  width: 214px;
}

.topics-btn {
  width: 136px;
  height: 40px;
  border: 2px white solid;
}

.one {
  background-color: #bc3428;
}

.two {
  background-color: #c7372a;
}

.three {
  background-color: #b13125;
}

.four {
  background-color: #bc3428;
}

h4 {
  font-size: xx-large;
}